
# App
APP_ENV=dev
APP_DEBUG=1

# Database
DB_HOST=localhost
DB_PORT=3306
DB_NAME=taskmanager
DB_USERNAME=taskuser
DB_PASSWORD=taskpass
DB_CHARSET=utf8mb4
DB_COLLATION=utf8mb4_unicode_ci

# Redis (queue, cache)
REDIS_HOST=redis
REDIS_PORT=6379

# JWT
JWT_SECRET=change_this_value

# Mail (dev)
MAIL_HOST=stmp.gmail.com
MAIL_PORT=465
MAIL_USERNAME=
MAIL_PASSWORD=

# Storage
STORAGE_DRIVER=local
#STORAGE_PATH=@app/runtime/uploads
STORAGE_PATH=@frontend/web/uploads

# Other
TIMEZONE=Asia/Ho_Chi_Minh